version: "3.9"

services:
  django-web:
    build:
      context: .
      dockerfile: ${DOCKERFILE}
    container_name: ${CONTAINER_NAME}
    command: gunicorn rifas_ganns.wsgi:application --bind 0.0.0.0:8000
    expose:
      - "8000"
    volumes:
      - .:/app
      - static_volume:/static
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
    env_file:
      - .env
    depends_on:
      - redis

  nginx:
    image: nginx:latest
    container_name: nginx_${CONTAINER_NAME}
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/static
    depends_on:
      - django-web

  redis:
    image: redis:8.2.2-alpine
    container_name: redis_server_${CONTAINER_NAME}
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  redisdata:
  static_volume:
